/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling*/

html,body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}
/* Utility Classes*/
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}
.text-primary {
    color: #f7c08a;
}
.lead {
    font-size: 20px;
}
.btn {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background: #f7c08a;
    color: #333333;
}
.btn-light {
    background: #f4f4f4;
    color: #333333;
}

.bg-dark {
    background: #333333;
    color: #ffffff;
}
.bg-light {
    background: #f4f4f4;
    color: #333333;
}
.bg-primary {
    background: #493453;
    color: white;
}
.clr {
    clear: both;
}
.l-heading {
    font-size: 40px;
    line-height: 1.2;
}

/* Padding*/
.py-1{
    padding: 10px 0;
}
.py-2 {
    padding: 20px 0;
}
.py-3 {
    padding: 30px 0;
}

/* Navbar*/
#navbar {
    background: #493453;
    color: #fff;
    overflow: auto;
}
#navbar a {
    color: #ffffff;

}
#navbar h1 {
    float: left;
    padding-top: 20px;
}
#navbar ul {
    list-style: none;
    float: right;
}
#navbar ul li {
    float: left;
}
#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current{
    background: #444;
    color: #f7c08a;
}

/* Showcase*/
#showcase {
    max-height: 800px ;
}

/* Home Info*/
#home_info {
    height: 450px;
}
#home_info .info-img {
    float: left;
    width: 50%;
    background: url("../img/AnyConv.com__gallery3.jpg") no-repeat;
    min-height: 100%;
}
#home_info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}
#home_info .info-content p {
    padding-bottom: 30px;
}

/* Features */
.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}
.box i {
    margin-bottom: 10px;
}

/* About Info*/
#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;
}
#about-info .info-right img {
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 0%;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
}



/* Testimonial*/
#testimonials{
    height: 100%;
    background: url("../img/1.jpg")no-repeat center center/cover;
    padding-top: 100px;
}
#testimonials h2 {
    color: #ffffff;
    text-align: center;
    padding-bottom: 40px;
}
#testimonials .testimonial{
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}
#testimonials .testimonial img{
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}


/* Contact Form*/

#contact-form .form-group {
    margin-bottom: 20px;
}
#contact-form label {
    display: block;
    margin-bottom: 5px;
}
#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #dddddd solid;
}
#contact-form textarea {
    height: 200px;
}
#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

 /* Footer*/

#main-footer {
    text-align: center;
    background: #493453;
    color: #ffffff;
    padding: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #navbar .logo {
    float: none;
    text-align: center;
}
#navbar ul, #navbar ul li {
    float: none;
}
#navbar ul li a {
    padding: 5px;
    border-bottom: #444444 dotted 1px;
}
/* Showcases*/
#showcase {
  height: 100%;
}
#showcase .showcase-content {
    padding-top: 170px;
    padding-bottom: 30px;
}
/* Home Info*/
#home_info {
    height: 550px;
}
#home_info .info-img {
    display: none;
}
#home_info .info-content {
    float: none;
    width: 100%;
}
/* Boxes */
.box {
    float: none;
    width: 100%;
}
/* About Info*/
#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}
#about-info .info-left {
   margin-top: 30px;
}
.l-heading {
    text-align: center;
}
#contact-info .box {
    border-bottom: #444444 dotted 1px;
}
}

.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;

}
.slideshow-container img{
    height: 500px;
    width: 1000px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}